---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: external-secrets-operator-manager-role
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - create
  - get
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - create
  - get
- apiGroups:
  - external-secrets-operator.slamdev.net
  resources:
  - externalbackends
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - external-secrets-operator.slamdev.net
  resources:
  - externalbackends/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - external-secrets-operator.slamdev.net
  resources:
  - externalconfigmaps
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - external-secrets-operator.slamdev.net
  resources:
  - externalconfigmaps/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - external-secrets-operator.slamdev.net
  resources:
  - externalsecrets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - external-secrets-operator.slamdev.net
  resources:
  - externalsecrets/status
  verbs:
  - get
  - patch
  - update
