---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.2.5
  creationTimestamp: null
  name: externalconfigmaps.external-secrets-operator.slamdev.net
spec:
  group: external-secrets-operator.slamdev.net
  names:
    kind: ExternalConfigMap
    listKind: ExternalConfigMapList
    plural: externalconfigmaps
    singular: externalconfigmap
  scope: Namespaced
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      description: ExternalConfigMap is the Schema for the externalconfigmaps API
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          description: ExternalConfigMapSpec defines the desired state of ExternalConfigMap
          properties:
            backendName:
              description: Name of the ExternalBackend resource that is used to get
                a secret value.
              minLength: 1
              type: string
            keys:
              description: Keys in the backend that hold secret values.
              items:
                type: string
              minItems: 1
              type: array
          required:
          - backendName
          - keys
          type: object
        status:
          description: ExternalConfigMapStatus defines the observed state of ExternalConfigMap
          properties:
            lastSyncedTime:
              description: Information when was the last time the secret was successfully
                synced.
              format: date-time
              type: string
          type: object
      type: object
  version: v1alpha1
  versions:
  - name: v1alpha1
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
