---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.2.5
  creationTimestamp: null
  name: externalbackends.external-secrets-operator.slamdev.net
spec:
  group: external-secrets-operator.slamdev.net
  names:
    kind: ExternalBackend
    listKind: ExternalBackendList
    plural: externalbackends
    singular: externalbackend
  scope: Namespaced
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      description: ExternalBackend is the Schema for the externalbackends API
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          description: ExternalBackendSpec defines the desired state of ExternalBackend
          properties:
            secretName:
              description: Secret name that hold backend configuration.
              minLength: 1
              type: string
            type:
              description: 'Specifies the backend type. Valid values are: - "Consul";
                - "Vault";'
              enum:
              - Consul
              - Vault
              type: string
          required:
          - secretName
          - type
          type: object
        status:
          description: ExternalBackendStatus defines the observed state of ExternalBackend
          properties:
            connected:
              description: Information about the backend connection status.
              type: boolean
          type: object
      type: object
  version: v1alpha1
  versions:
  - name: v1alpha1
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
